.construction-sign
  = image_tag gcs('under-construction.png'), class: 'img-construction-sign'
.construction-message
  %p This page will be ready soon.
  %p
    In the meantime,
    %br
    please, take a look at pictures of
  %p= link_to "#{subject} we've recently worked on", path
