.construction-sign
  = image_tag gcs('under-construction.png'), class: 'img-construction-sign'
.construction-message
  %p This page will be ready soon.
  %p
    Please, contact us if you have questions or
    %br
    = "would like us to help improve your #{subject}!"
