%ul.nav.regional.menu
  - if current_view?(exterior_paths)
    = render 'nav_items_exterior_services'

  - elsif current_view?(interior_paths)
    = render 'nav_items_interior_services'

  - elsif current_view?(mend_paths)
    = render 'nav_items_other_services'
