%ul.menu.regional
  - if current_page_in?(exterior_services_paths)
    = render 'nav_items_exterior_services'

  - elsif current_page_in?(interior_services_paths)
    = render 'nav_items_interior_services'

  - elsif current_page_in?(other_services_paths)
    = render 'nav_items_other_services'
