.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Bathrooms' }
    .xlarge-heading
      %h1 Bathrooms
    .under-construction.bathrooms
      = render partial: 'construction_message',
        locals: { subject: 'bathrooms', path: portfolios_bathrooms_path }

  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %p
        Please, contact us if you have questions or
        would like us to help improve your bathroom.
