.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Bathrooms' }
    .xlarge-heading
      %h1 Bathrooms
    .under-construction.bathrooms
      = render partial: 'construction_message', locals: { subject: 'bathroom' }

  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %p
        In the meantime, please, see a few pictures of
        = link_to "bathrooms we've recently worked on.",
          portfolios_bathrooms_path
