.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Decks' }
    .xlarge-heading
      %h1 Decks
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    %figure.figure-article-right= image_tag gcs('decks-topstairs.jpg')
    %p
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.


  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %p
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      %figure.figure-aside-left= image_tag gcs('decks_page.jpg')
      -# prevent vertical shrink of aside with too little text
      -# for the aside to envelope the floated figure
      .clearfix
