.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Flooring' }
    .xlarge-heading
      %h1 Flooring
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    %figure.in-article-left= image_tag gcs('flooring_page.jpg')
    %p
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    %p
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.

  .grid-item
    = render 'contact_prompt_heading'
