.griddle
  %article
    %h1 Green Roofs
    %p
      Centuries old, the roof garden concept has been most recently embraced in
      the United States.
    %figure.in-article-right= image_tag 'greenroof_residential2.jpg'
    %p
      Both functional and aesthetically-appealing, this technology improves
      the structure's energy efficiency while adding plant life in populated
      areas.
    %p
      Currently, the focus on improving the quality of life in urban
      environments has made these issues more pertinent than ever. Roof Gardens
      meet the objectives of many of the mandates to improve the air quality of
      cities by mitigating the effects of heat islands caused by ever increasing
      development. The benefits of the modern Roof Garden have been demonstrated
      by the US Green Building Council's endorsement of these systems through
      the LEED (Leadership in Energy and Environmental Design) certification
      program.
    %figure.float-left.mr--2rem= image_tag 'greenroof_residential3.jpg'
    %p
      At #{rh2}, we use Carlisle's Roof Garden System which provide a variety of
      waterproofing options with a full line of accessories to insure a high
      performance system.
    %p
      Buildings and hardscape surfaces make cities into giant, heat absorbing
      sinks, creating an "Urban Heat Island Effect" which contributes to air
      pollution, increased energy usage and heat-related illnesses. Lack of
      green space in cities means rainwater runoff carries contaminants from
      rooftops into our waterways, often releasing untreated sewage with it.
    %p
      That's why we are committed to accelerating the installation of green
      roofs, lightweight roofing systems that support vegetation.
    %p
      Our Green Roofs initiative provides developers, communities and government
      with modeling of green roof performance, materials and installation
      services.
    %p Together, we can help our cities breathe easier.

    - allow = 'accelerometer; autoplay; encrypted-media; gyroscope;            |
      picture-in-picture'                                                      |

    .flexrow.justify-content--space-around
      %iframe{ width: 560, height: 315,
        src: "https://www.youtube-nocookie.com/embed/WFgpz8V3CmU",
        frameborder: 0, allow: allow, allowfullscreen: true }

  %aside
    %h3 Advantages of Roof Gardens
    %figure.in-article-right.ml--1rem= image_tag 'greenroof_residential1_small.jpg'
    %ul.aside
      %li Reduces urban heat island effects
      %li Storm water run-off management
      %li Adds valuable/useable space providing economic benefits
      %li Reduces rooftop noise infiltration by up to 40dB
      %li Energy efficiency year-round
      %li Air and water purification
