%article
  %h1 Interior Services

  .galery
    %figure= image_tag 'interiors-kitchens.jpg'
    %figure= image_tag 'interiors-bathrooms.jpg'
    %figure= image_tag 'flooring_page.jpg'
    %figure= image_tag 'windows_page.jpg'
