.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Kitchens' }
    .xlarge-heading
      %h1 Kitchens
    = render partial: 'construction_message', locals: { subject: 'kitchen' }

  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %p
        In the meantime, please, see a few pictures of
        = link_to "kitchens we've recently worked on",
          portfolios_kitchens_path
