.griddle
  %article
    %h1 Kitchens
    %p Find me in app/views/services/kitchens.html.haml
    %p
      Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.

  .grid-item
    = render 'contact_prompt_heading'
