.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Kitchens' }
    .xlarge-heading
      %h1 Kitchens
    .under-construction.kitchens
      = render partial: 'construction_message',
        locals: { subject: 'kitchens', path: portfolios_kitchens_path }

  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %p
        Please, contact us if you have questions or
        would like us to help improve your kitchen.
