%article
  %h1 Other Services

  %menu.galery
    %figure= image_tag 'other-hail_damage-crop.jpg'
    %figure= image_tag 'ice_dam-aside.jpg'
    %figure= image_tag 'other-snow_removal.jpg'
    %figure= image_tag 'other-bat_removal.jpg'
