.griddle
  %article
    %h1 Snow Removal
    %p
      Boudin short loin pork loin, rump leberkas pork venison. Prosciutto beef
      jerky venison doner, landjaeger buffalo cupim pork swine ham hock.
      Short ribs pork chop boudin, tenderloin tail porchetta filet mignon
      chicken tri-tip pork belly sausage ribeye picanha.
      Shoulder turkey t-bone, picanha short ribs boudin tail jerky. Chuck pork
      chop meatball bacon, strip steak shankle ground round kevin. Jowl meatloaf
      doner pig hamburger pork belly kielbasa porchetta.
    %p
      Pastrami porchetta prosciutto, capicola bacon swine beef ribs flank ham
      hock tongue shankle ball tip boudin fatback short ribs.
    %figure.in-article-left= image_tag 'snow_removal_2.jpg'
    %p
      Buffalo tail turducken tongue pork porchetta pig short ribs turkey brisket
      ham hock. Pork kielbasa capicola, doner ribeye brisket picanha boudin
      tri-tip drumstick ham corned beef cupim bacon. Flank buffalo ground round,
      pig beef ribs bresaola doner. Short loin sirloin cow kielbasa.

  %aside
    %h3 We arrive on time, snow or shine.
    %figure.in-article-leftt= image_tag 'snow_removal_1.jpg', width: 300
    %p
      Our clients agree that #{rh2} has the best rounded, dressed, and
      suntanned crew in Madison.
    %p Please call us even in the summer.
    .flexrow.align-items--center
      %h3 We love to shovel!
      %p.push (608) 445-6511
