.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Windows' }
    .xlarge-heading
      %h1 Windows
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur.
    %figure.in-article-right= image_tag 'https://unsplash.it/400?image=208'
    %p
      Ut enim ad minim veniam, quis nostrud exercitation ullamco  laboris nisi
      ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur.
    %p
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.

  .grid-item
    = render 'contact_prompt_heading'
