- if portfolio.images.present?
  %section.portfolio
    - portfolio.images.ordered.each do |image|
      %figure
        = image_tag image.file.variant(resize_to_limit: [800, nil]).processed,
          class: 'portfolio-img'
        %figcaption
          %h4.portfolio-figcaption-h4= image.caption_heading
          %p.portfolio-figcaption-p= image.caption_text
          %p.portfolio-figcaption-p= image.comment
