- if portfolio.images.present?
  - portfolio.images.ordered.each do |image|
    %figure
      = image_tag image.file.variant(resize: '800').processed,
        class: 'portfolio'
      %figcaption
        %h4= image.caption_heading if image.caption_heading.present?
        %p= image.caption_text if image.caption_text.present?
        %p= image.comment if image.comment.present?
