- provide :main_class, 'portfolio'
- provide :main_container_class, 'portfolio'

%article
  = render 'contact_prompt_heading', { h1: 'Portfolio :: Decks' }

  %section.portfolio
    = render partial: 'portfolios_images',
      locals: { portfolios: @decks_portfolios }
