- provide :main_class, 'portfolio'
- provide :main_container_class, 'portfolio'

%flooring
  = render 'contact_prompt_heading', { h1: 'Portfolio :: Flooring' }

  %section.portfolio
    = render partial: 'portfolios_images',
      locals: { portfolios: @flooring_portfolios }
