%article
  %h1 Portfolio :: Flooring

  .griddle.portfolio
    %figure
      = image_tag 'flooring/100_0380.jpg', class: 'portfolio'
      %figcaption
        %h4 1. Flooring Before (a)

    %figure
      = image_tag 'flooring/100_0383.jpg', class: 'portfolio'
      %figcaption
        %h4 2. Flooring Before (b)

    %figure
      = image_tag 'flooring/100_0385.jpg', class: 'portfolio'
      %figcaption
        %h4 3. Flooring After (a)
        %p Wood flooring, tile flooring, ceramic flooring & more.

    %figure
      = image_tag 'flooring/100_0387.jpg', class: 'portfolio'
      %figcaption
        %h4  4. Flooring After (b)
        %p Transform your old room to office space with a new wood floor.
