%article
  %h1 Portfolio

  %p
    Our home improvements photo gallery is always growing with new photos being
    continuously added, so please check back to this section frequently to see
    the latest photos of R House 2 home improvement projects in Dane County and
    all of southern Wisconsin.
