- provide :main_class, 'portfolio'
- provide :main_container_class, 'portfolio'

%article
  = render 'contact_prompt_heading', { h1: 'Portfolio :: Siding' }

  %section.portfolio
    = render partial: 'portfolio', collection: @siding_portfolios
