- provide :main_class, 'portfolio'
- provide :main_container_class, 'portfolio'

%article
  = render 'contact_prompt_heading', { h1: 'Portfolio :: Siding' }

  = render partial: @portfolios, spacer_template: 'portfolio_spacer'
