- provide :main_class, 'portfolio'
- provide :main_container_class, 'portfolio'

%windows
  = render 'contact_prompt_heading', { h1: 'Portfolio :: Windows' }

  %section.portfolio
    = render partial: 'portfolio', collection: @windows_portfolios
