.span-contact-us-prompt-phone,
span.gc-cs-link {
  color: black;
  cursor: auto;
  text-decoration: none;
}

i.fa-phone + a {
  text-decoration: none;
  color: #333;
}

.portfolio i.fa-phone + a { color: #ddd; }

i.fa-phone {
  color: #e60000;
  margin-right: .3rem;
}

.span-contact-us-prompt-phone { margin-right: .7rem; }

.contact-prompt-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

// to space .contact-prompt vertically as if on pages with h1
// really hackings => TODO: come up w/ a different solution for this
.h1-spacer {
  display: none;
  font-family: 'Chaparral Pro';
  font-size: 3rem;
  margin: 2rem 0;
}

.contact-prompt {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  justify-content: center;
  margin: 0 0 3rem 0;
}

.contact-us-button {
  color: white;
  background-color: #e60000;
  border-radius: 7px 25px 25px 7px;
  font-family: 'Telegrafico';
  padding: .1rem 1rem .1rem .6rem;
  padding: 1px 14px 1px 9px;
  text-decoration: none;
  transition: background-color, .3s;
}

.contact-us-button:hover { background-color: darken(#e60000, 6%); }


@media (min-width: 898px) {

  .about .contact-prompt-heading,
  .testimonials .contact-prompt-heading,
  .small-heading .contact-prompt-heading,
  .pantheon .contact-prompt-heading,
  .portfolio .contact-prompt-heading {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h1 + p.contact-prompt { margin: 0; }

}

@media (max-width: 1200px) {

  .about .contact-prompt-heading,
  .testimonials .contact-prompt-heading,
  .small-heading .contact-prompt-heading {

    i.fa-phone { color: #aaa; }
    .contact-us-button { background-color: #aaa; }
    .contact-us-button:hover { background-color: darken(#aaa, 9%); }

  }

}

@media (min-width: 1200px) {

  .h1-spacer { display: block; }

  .grid-item .contact-prompt-heading {
    flex-direction: row;
    justify-content: flex-end;//center;
  }

  p.contact-prompt { margin-bottom: 0; }

}
