- provide :main_class, 'home'
- provide :main_container_class, 'home'

.hero-image
  %p.hero-p
    Located in Madison, Wisconsin, #{rh2} is Madison's premier full home
    improvement company.
  .hero-overlay
