%article
  %h1 About Us

  %figure.in-article-right.mt--3rem= image_tag 'toolbelt.jpg'

  %h2 In Business since 2005

  %p
    Home owners are you tired of all the hassles that come with waiting on
    Home Improvement contractors for estimates, or waiting for your contractor
    to show up, or the mess they make during the work? Make your next
    home renovation hassle free!
  %p
    We are a full service Home Improvements contractor who focuses on quality,
    service and customer satisfaction. We are licensed, bonded and insured.
    With one call we take care of all your home improvement and home maintenance
    needs. We treat your house like it's #{rh2}!
