%article
  %h1 Contact Us

  %figure.in-article-right.mt--3rem= image_tag 'tools.jpg'

  %p
    %span Email:
    = mail_to 'info@Rhouse2.com'

  %p
    %span Phone:
    = link_to '608.445.6511', 'tel:608-445-6511'

  %p
    If you would prefer to contact us through this web page, please fill out
    the information below.
  %p
    #{rh2} will never give or sell your personal information such as name and
    e-mail addresses to anyone for the purposes of advertising or unsolicited
    e-mail (SPAM). Email is for business use only.

  %p ... email form ...
