span.phone,
span.gc-cs-link {
  color: black;
  cursor: auto;
  text-decoration: none;
}

i.fa-phone + a {
  text-decoration: none;
  color: #333;
}

.portfolio i.fa-phone + a { color: #ddd; }

span.phone { margin-right: .7rem; }

.contact-prompt-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.h1-spacer { display: none; }

.contact-prompt {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.3rem;
}

.contact-prompt { margin: 0 0 3rem 0; }

i.fa-phone {
  color: #e60000;
  margin-right: .3rem;
}

.contact-us-button {
  color: white;
  background-color: #e60000;
  border-radius: 7px 25px 25px 7px;
  font-family: 'Telegrafico';
  padding: .1rem 1rem .1rem .6rem;
  padding: 1px 14px 1px 9px;
  text-decoration: none;
  transition: background-color, .3s;
}

.contact-us-button:hover { background-color: darken(#e60000, 6%); }
