#flash-notice,
#flash-alert {
  font-size: 1.25rem;
  margin: auto;
  padding: 6px 0;
  text-align: center;
}

#flash-container {
  position: absolute;
  top: 0;
  left: 35%;
  margin: 0 auto;
  width: 30%;
  z-index: 999;
}

#flash-notice { background-color: #F3D9AA; }

#flash-alert { background-color: pink; }
