/* The hero image */
.hero-image {
  // to position .hero-text
  display: flex;
  align-items: center;

  // our body is a flexbox, and main is set to flex: 1 0 auto;
  // to not be squished to 0 by the main element
  // our hero must either:
  // 1) get on par with main (from the default flex: 0 1 auto)
  // flex: 1 0 auto;
  // or
  // 2) be put into section element
  //   and I don't know why this works, does section have a different default
  //   flex setting than a div element ?

  // offset for header (just .title-bar?) height for the pic to "sink" up
  margin-top: 30px;

  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");

  // hero-top-7 (5, 4, 3, or just hero):
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(http://cab93e1a1f8a2d458fce-5d71b514ff9f7df3b7aa7733f56371cf.r51.cf1.rackcdn.com/hero-top-5.jpg);
  // background-image: url("http://cab93e1a1f8a2d458fce-5d71b514ff9f7df3b7aa7733f56371cf.r51.cf1.rackcdn.com/hero.jpg");

  /* Set a specific height */
  height: 50vh;//62.5vh; <= golden ratio ... hm, too large
  width: 100vw;

  /* Position and center the image to scale nicely on all screens */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /* when .hero-image not a flexbox */
  // position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  font-size: 115%; // TODO: responsive, fluid
  margin-top: 54px;
  padding-right: 9vw;
  padding-left: 10vw;

  // left: 41%;
  // position: absolute;
  // top: 56%;
  // text-align: center;
  // transform: translate(-50%, -50%);
}
.hero-text h2 { color: white; }

main.home { margin-top: 0; } // hero comes 1st, no need to offset for header

.container.home {
  margin-top: 0;
  border-radius: 0;
  border-top: 1px solid white;
}
