/* The hero image */
.hero-image {
  // to position .hero-text
  display: grid;
  align-items: center;

  // offset for header (just .title-bar?) height for the pic to "sink" up
  margin-top: 30px;

  // Use linear-gradient() to add a darken background effect to the image
  // This will make the text easier to read
  // hero-top-7 (5, 4, 3, or just hero):
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url('https://storage.googleapis.com/rhouse2-production-static/hero-top-5.jpg');

  /* Set a specific height */
  height: 75vh;//50vh;//62.5vh; <= golden ratio ... hm, too large
  width: 100vw;

  /* Position and center the image to scale nicely on all screens */
  // background-attachment: fixed; // interesting
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place text in the middle of the image */
.hero-p {
  color: white;
  font-size: 1.7rem;//2rem; // TODO: responsive, fluid
  font-weight: bold;
  grid-area: 1/1;
  margin-top: 2em;
  padding-right: 7vw;
  padding-left: 9vw;
}

.hero-overlay {
  grid-area: 1/1;
  background-color: #eee;
  opacity: 0.0;
  height: 100%;
}

@media (min-width: 375px) {

  .hero-p {
    padding-right: 9vw;
    padding-left: 10vw;
  }

}

@media (min-width: 540px) {

  .hero-image { height: 57.5vh; }

}

@media (min-width: 640px) {

  .hero-p { font-size: 2rem; }

}
