// BREAKPOINTS:
// Foundation, Bootstrap, Material Design Light:
//								480					480
//								575
//		640
//								768
//														839
//								991
//		1024										1024
//		1200				1199
//		1440
//
// https://www.websitedimensions.com/
// Get started with:
// smartphones:   <=  768 px
// tablets:       >=  768 px
// medium devices >=  992 px
// large devices  >= 1200 px
//
// Website CSS breakpoints:
// bbc:                 600                 1008 1280
// cnn:                 640     768     960 1024
// apple:                   736 768         1068       1440       2100
// mercedes-benz:               768              1280
// microsoft:       540             898 992
// adele:                   700                             1700

@media (max-width: 375px) {
  h1 { font-size: calc(16px + (48 - 22) * (100vw - 150px)/(335 - 150)); }
}

@media (min-width: 540px) {
  .in-article-left {
    float: left;
    margin: .3rem 1.7em 0 0;
  }
  .in-article-right {
    float: right;
    margin: .3rem 0 0 1.3rem;
  }
  nav.galery { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 640px) {
  li.roofing-supplier { flex-wrap: nowrap; }
  .flexrow.footer { justify-content: space-between; }
}

@media (min-width: 768px) {
  .container { max-width: 768px; }
  section.portfolio { grid-template-columns: 1fr 1fr; }
  p.footer { margin-left: 2rem; }
  nav.footer { margin-right: 2rem; }
}

@media (min-width: 1200px) {
  .h1-spacer { display: none; }
  .container { max-width: 991px; }
  .griddle { grid-template-columns: 2fr 1fr; }
  aside .in-article-left, aside .in-article-right {
    float: none;
    margin: 0 auto;
  }
  li.roofing-supplier { flex-wrap: wrap; }
  nav.galery,
  section.portfolio { grid-template-columns: 1fr 1fr 1fr; }
}

@media (min-width: 1440px) {
  .h1-spacer { display: block; }
  aside { border-left: 1.5rem solid #eee; }
  aside { border-left: 1.5rem solid #d0d0d0; }
  aside .in-article-left {
    float: left;
    margin: .3rem 1rem 0 0;
  }
  aside .in-article-right {
    float: right;
    margin: .3rem 0 0 1rem;
  }
  li.roofing-supplier { flex-wrap: nowrap; }
  .container { max-width: 1280px; }
}
