// BREAKPOINTS:
// Foundation, Bootstrap, Material Design Light:
//								480					480
//								575
//		640
//								768
//														839
//								991
//		1024										1024
//		1200				1199
//		1440
//
// https://www.websitedimensions.com/
// Get started with:
// smartphones:   <=  768 px
// tablets:       >=  768 px
// medium devices >=  992 px
// large devices  >= 1200 px
//
// Website CSS breakpoints:
// bbc:                 600                 1008 1280
// cnn:                 640     768     960 1024
// apple:                   736 768         1068       1440       2100
// mercedes-benz:               768              1280
// microsoft:       540             898 992
// adele:                   700                             1700

@media (max-width: 375px) {
  h1 { font-size: calc(16px + (48 - 22) * (100vw - 150px)/(335 - 150)); }
}

@media (min-width: 540px) {
  .in-article-left {
    float: left;
    margin: .3rem 1.7em .3rem 0;
  }
  .in-article-right {
    float: right;
    margin: .3rem 0 .3rem 1.3rem;
  }
  nav.pantheon { grid-template-columns: 1fr 1fr; }
  figure.fourth { grid-area: 2/2; }
}

@media (min-width: 640px) {
  li.roofing-supplier { flex-wrap: nowrap; }
  .griddle.admin-portfolio {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  img.rh2-logo-responsive { min-height: 68.4px; }
  main { margin-top: 100px; }
  .container { max-width: 90%; }
  section.portfolio { grid-template-columns: 1fr 1fr; }
  nav.footer .menu.small { display: none; }
  nav.footer .menu.medium { display: flex; }
  .flexrow.footer { flex-wrap: nowrap; justify-content: space-between; }
  p.footer, nav.footer { margin-bottom: 0; }
}

@media (min-width: 898px) {
  .about .contact-prompt-heading,
  .testimonials .contact-prompt-heading,
  .small-heading .contact-prompt-heading,
  .pantheon .contact-prompt-heading,
  .portfolio .contact-prompt-heading {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  h1 + p.contact-prompt { margin: 0; }
}

@media (min-width: 768px) {
  .rh2-logo-headlines { display: flex; }
  .rh2-headlines { display: none; }
  ul.menu.large {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 1rem;
  }
  header { box-shadow: 2px 2px 4px #c9c9c9; }
  .under-construction {
    justify-content: space-around;
    flex-direction: row;
  }
  .construction-sign { width: 30%; }
  .construction-message { width: 70%; }
}

@media (max-width: 898px) {
  .top-bar { padding: 1rem; }
}
@media (min-width: 898px) {
  .top-bar { padding: 1rem 2rem; }
}

@media (max-width: 1200px) {
  .about .contact-prompt-heading,
  .testimonials .contact-prompt-heading,
  .small-heading .contact-prompt-heading {
    i.fa-phone { color: #aaa; }
    .contact-us-button { background-color: #aaa; }
    .contact-us-button:hover { background-color: darken(#aaa, 9%); }
  }
}

@media (min-width: 1200px) {
  .small-heading { display: none; }
  .xlarge-heading { display: block; }
  .h1-spacer { display: block; }
  .grid-item .contact-prompt-heading {
    flex-direction: row;
    justify-content: flex-end;//center;
  }
  p.contact-prompt { margin-bottom: 0; }
  .griddle { grid-template-columns: 2fr 1fr; }
  aside.contact-us { margin-top: 2rem; }
  aside .in-article-left, aside .in-article-right {
    float: none;
    margin: 0 auto;
  }
  li.roofing-supplier { flex-wrap: wrap; }
  nav.pantheon,
  section.portfolio { grid-template-columns: 1fr 1fr 1fr; }
}

@media (min-width: 1280px) {
  .rh2-headlines { display: flex; }
  nav.header {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  ul.menu.large { display: none; }
  ul.menu.xlarge {
    display: flex;
    margin: 0 1.4rem;
  }
  ul.menu.regional { display: inline-flex; }
  main { margin-top: 173px; }
}

@media (min-width: 1440px) {
  .h1-spacer { display: block; }
  aside { border-left: 1.5rem solid #d0d0d0; }
  aside .in-article-left {
    float: left;
    margin: .3rem 1rem 0 0;
  }
  aside .in-article-right {
    float: right;
    margin: .3rem 0 0 1rem;
  }
  li.roofing-supplier { flex-wrap: nowrap; }
  .container { max-width: 1280px; }
}

@media (max-width: 1700px) {
  .rh2-logo-headlines {
    flex-direction: column;
    text-align: center;
  }
  .rh2-headlines { margin-top: .5rem; }
  .top-bar-right { margin-top: 1rem; }
}

@media (min-width: 1700px) {
  .rh2-logo-headlines { padding: .7rem 0; }
  .rh2-headlines { margin-left: 1.5rem; }
  main { margin-top: 123px; }
}
