/* ########## */
/* NAV FOOTER */
/* ---------- */

.fa-home,
.fa-user {
  padding-bottom: 1px;
  border-bottom: 2px solid whitesmoke;
}

/* ---------- */

.footer-copyright-p { font-size: .94rem; }

.span-footer-nav-links-pipe {
  display: none;
  padding: .6rem 0;
}

footer a { color: whitesmoke; }

/* ---------- */

footer {
  background-color: #333;
  color: whitesmoke;
  font-family: 'Monteserrat', sans-serif;
  font-size: 1rem;
  padding: 5em 0;
}

/* ---------- */

.container-footer {
  flex: initial; /* override .container's 1 0 auto #<= odd, fix it, see above */
  margin: 0 auto;
}

.footer-flextrack {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.footer-nav-icons { display: flex; }

.footer-nav-links {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.footer-nav-ul {
  align-items: center;
  flex-direction: column;
}

/* ---------- */

@media (min-width: 640px) {

  footer { font-size: 1.125rem; }

  .span-footer-nav-links-pipe { display: inline; }

  .footer-nav-ul,
  .footer-nav-links { flex-direction: row; }

}

@media (min-width: 898px) {

  .footer-flextrack {
    flex-direction: row;
    justify-content: space-between;
  }

}
