nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Telegrafico';
  flex-shrink: 0;
  font-size: 126%;
  margin: 1rem 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
nav li {
  border: 1px transparent solid;
  border-radius: 3px;
  padding: .3rem;
  margin: .1rem;
  white-space: nowrap;
}
nav a {
  color: #333;
  text-decoration: none;
}

// No anchor inside li.current.view. Courtesty of Rails' and my own adapted
// link_to_unless _current(), current_view?() helpers.
// Use for state contingent styling, i.e. a "bread-crumb" and hover
nav li.current a,
nav li.current.view { color: #e60000; }

// nav element                      idle          :hover
// ------------------------------------------------------
// li                               black         border
// li.current                        red          border
// li.current.view                   red            -

// Hover ON:
nav li:hover { border-color: lightgrey; }
// Hover OFF:
nav li.current.view:hover { border-color: transparent; }
