/* ########## */
/* NAV HEADER */
/* ---------- */

/* --- Header nav hover & current view styles --- */

// nav element                      idle          :hover
// ------------------------------------------------------
// li                               black       lightgrey
// li.current                        red        lightgrey
// li.current.view                   red            -
// ------------------------------------------------------

// Hover ON:
nav.header li:hover {
  background-color: lightgrey;
  border-color: lightgrey;
}

// Hover OFF:
nav.header li.current.view:hover {
  background-color: whitesmoke;
  border-color: transparent;
}

// No anchor inside li.current.view. Courtesty of Rails' and my own adapted
// link_to_unless _current(), current_view?() helpers.
// Use for state contingent styling, i.e. a "bread-crumb" and hover
// Must do children to prevent malformatting of nested navs manus
ul.menu > li.current > a,
ul.menu > li.current.is-dropdown-submenu-parent > a, // Override F6 #333
ul.menu > li.current.view { color: #e60000; }

ul.menu > li.current.view span {
  display: block;
  line-height: 1;
  padding: $global-menu-padding;
}

/* ------------------------------------------ */

ul.menu.xlarge,
ul.menu.regional { display: none; }

li.current,
.menu.regional { background-color: whitesmoke; }

ul.menu.portfolios a,
ul.menu.portfolios > li.current.view span {
  padding-right: .95rem;
  padding-left: .95rem;
}

nav { font-family: 'Telegrafico'; }

nav li { white-space: nowrap; }

nav.header li {
  border-radius: 3px;
  transition: background-color, .6s;
}

nav.header a { color: #333; }

button.menu-icon:hover { background-color: lightgrey; }

button.fa-hard-hat {
  color: #e60000;
  border: 1px transparent solid;
  border-radius: 3px;
  font-size: 2rem;
  padding: 6px;
  transition: background-color, .6s;
}

button.fa-hard-hat:hover { background-color: lightgrey; }

/* ---------- */

header {
  box-shadow: 2px 2px 4px #aaa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* ---------- */

.title-bar {
  justify-content: space-between;
  padding: .5rem 1rem;
}
.title-bar .rh2-logo { max-width: 150px; }

.top-bar {
  align-items: flex-start; // Override F6: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.top-bar .top-bar-left {
  flex-grow: 0;  // Override F6: 1; (@ (min-width: 40em) {flex: 1 1 auto;})
  margin-right: 0; // Override F6: auto; (resize shrinks it, intersting)
}

.rh2-logo-headlines {
  align-items: center;
  display: none;//flex;
  flex-shrink: 0;
}

.rh2-logo-responsive {
  height: 100%;
  max-height: 80px;
  max-width: 280px;
  width: 100%;
}

.rh2-headlines {
  display: flex;
  flex-direction: column;
}

/* ---------- */

@media (min-width: 768px) {

  ul.menu.large {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 1rem;
  }

  header { box-shadow: 2px 2px 4px #c9c9c9; }

  .rh2-logo-headlines { display: flex; }

  .rh2-headlines { display: none; }

}

@media (min-width: 898px) {

  .top-bar {
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

@media (min-width: 1280px) {

  ul.menu.large { display: none; }

  ul.menu.xlarge {
    display: flex;
    margin: 0 1.4rem;
  }

  ul.menu.regional {
    display: inline-flex;
    font-size: 1.375rem;
  }

  nav.header {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .rh2-headlines { display: flex; }

}

@media (max-width: 1700px) {

  .rh2-logo-headlines {
    flex-direction: column;
    text-align: center;
  }

  .rh2-headlines { margin-top: .5rem; }

  .top-bar-right { margin-top: 1rem; }

}

@media (min-width: 1700px) {

  .rh2-logo-headlines { padding: .7rem 0; }

  .rh2-headlines { margin-left: 1.5rem; }

}
