nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Telegrafico';
  font-size: 126%;
  margin: 1rem 0;
}

ul.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

ul.nav li {
  border: 1px transparent solid;
  border-radius: 3px;
  padding: .3rem;
  margin: .1rem;
  white-space: nowrap;
}

ul.nav li.current {
  color: #e60000;
}

ul.nav a {
  color: #333;
  text-decoration: none;
}
ul.nav li.current a {
  color: #e60000;
}

// nav element                      idle          :hover
// ------------------------------------------------------
// li                               black         border  +-------
// li.current                        red            -     <---    |
//                                                            |   |
// li.has-nav                       black         border  +---|---
// li.has-nav.current                red          border      |
// li.has-nav.current.showing        red            -     <---
//
ul.nav li:hover { border: 1px lightgrey solid; }
ul.nav li.current:hover { border: 1px transparent solid; }
ul.nav li.current.has-nav:hover { border: 1px lightgrey solid; }
ul.nav li.current.has-nav.showing:hover { border: 1px transparent solid; }
ul.nav.regional li.current:hover { border: 1px transparent solid; }
