//  Foundation for Sites Setting RH2 Overridess
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//
//   4. Base Typography
//
//  18. Dropdown Menu
//
//  23. Menu
//
//  53. Title Bar
//
//  55. Top Bar

@import 'util/util'; // To access F6's get-color(); rem-calc(); etc. in here

// 1. Global
// ---------

// $global-font-size: 100%;
// $global-width: rem-calc(1200);
// $global-lineheight: 1.5;
$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$medium-gray: #cacaca; // %figure
$black: #0a0a0a; // %figure
$white: #fefefe; // %figure
$global-menu-padding: 0.7rem 1rem; // %figure
$global-menu-nested-margin: 1rem; // %figure

// To access $primary-color in here, do either:
// $primary-color: map-get($foundation-palette, primary);
// or:
// @import 'util/util'; // done above
// $primary-color: get-color(primary);
// or:
// @import 'util/util'; // done above
@include add-foundation-colors;

// 4. Base Typography
// ------------------

$anchor-color: $primary-color;

// 18. Dropdown Menu
// -----------------

$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: $anchor-color;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-arrow-padding: 1.5rem;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: null;
$dropdownmenu-submenu-background: $white;
$dropdownmenu-padding: $global-menu-padding;
$dropdownmenu-nested-margin: 0;
$dropdownmenu-submenu-padding: $dropdownmenu-padding;
$dropdownmenu-border: 1px solid $medium-gray;
$dropdown-menu-item-color-active: get-color(primary);
$dropdown-menu-item-background-active: transparent;

// 23. Menu
// --------

$menu-margin: 0;
$menu-nested-margin: $global-menu-nested-margin;
$menu-items-padding: $global-menu-padding;
$menu-simple-margin: 1rem;
$menu-item-color-active: $white;
$menu-item-background-active: get-color(primary);
$menu-icon-spacing: 0.25rem;
$menu-state-back-compat: true;
$menu-centered-back-compat: true;
$menu-icons-back-compat: true;

// 53. Title Bar
// -------------

$titlebar-background: $black;
$titlebar-color: $white;
$titlebar-padding: 0.5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: 0.25rem;

// 55. Top Bar
// -----------

// $topbar-padding: 0.5rem;
$topbar-background: #fff; //$light-gray;
// $topbar-submenu-background: $topbar-background;
// $topbar-title-spacing: 0.5rem 1rem 0.5rem 0;
// $topbar-input-width: 200px;
// $topbar-unstack-breakpoint: medium;
