//  Foundation for Sites Setting RH2 Overridess
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//
//   2. Breakpoints
//
//   4. Base Typography
//
//   8. Accordion Menu
//
//  11. Button
//
//  18. Dropdown Menu
//
//  23. Menu
//
//  53. Title Bar
//
//  55. Top Bar

// 1-4-24: Integrate ZF CSS & JS via Yarn, instead of gem
@import '../../../node_modules/foundation-sites/scss/util/util';
// @import 'util/util'; // To access F6's get-color(); rem-calc(); etc. in here

// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.15;
$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$medium-gray: #cacaca;
$black: #0a0a0a;
$white: #fefefe;
$global-menu-padding: 0.7rem 1.2rem;//0 1rem;//0.7rem 1rem;
$global-menu-nested-margin: 1rem;

// To access $primary-color in here, do either:
// $primary-color: map-get($foundation-palette, primary);
// or:
// @import 'util/util'; // done above
// $primary-color: get-color(primary);
// or:
// @import 'util/util'; // done above
@include add-foundation-colors;

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  xmedium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$breakpoint-classes: (small medium large xlarge);

// 4. Base Typography
// ------------------

$anchor-color: #333;//$primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);

// 8. Accordion Menu
// -----------------

$accordionmenu-padding: $global-menu-padding;
$accordionmenu-nested-margin: $global-menu-nested-margin;
$accordionmenu-submenu-padding: $accordionmenu-padding;
$accordionmenu-arrows: true;
$accordionmenu-arrow-color: #333;//$primary-color;
$accordionmenu-item-background: null;
$accordionmenu-border: null;
$accordionmenu-submenu-toggle-background: null;
$accordion-submenu-toggle-border: $accordionmenu-border;
$accordionmenu-submenu-toggle-width: 40px;
$accordionmenu-submenu-toggle-height: $accordionmenu-submenu-toggle-width;
$accordionmenu-arrow-size: 6px;

// 11. Button
// ----------

$button-font-family: inherit;
$button-padding: 0.85em 1em;
$button-margin: 0;//0 0 $global-margin 0;
$button-fill: solid;
$button-background: #a02e30;//$primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: $white;
$button-color-alt: $black;
// $button-radius: $global-radius;
$button-hollow-border-width: 1px;
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
);
$button-palette: $foundation-palette;
$button-opacity-disabled: 0.25;
$button-background-hover-lightness: -20%;
$button-hollow-hover-lightness: -50%;
$button-transition: background-color 0.25s ease-out, color 0.25s ease-out;
$button-responsive-expanded: false;

// 16. Drilldown
// -------------

$drilldown-transition: transform 0.15s linear;
$drilldown-arrows: true;
$drilldown-padding: $global-menu-padding;
$drilldown-nested-margin: 0;
$drilldown-background: transparent;//$white;
$drilldown-submenu-padding: $drilldown-padding;
$drilldown-submenu-background: $white;
$drilldown-arrow-color: #333;//$primary-color;
$drilldown-arrow-size: 6px;

// 18. Dropdown Menu
// -----------------

$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: #333;//$anchor-color;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-arrow-padding: 1.5rem;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: null;
$dropdownmenu-submenu-background: transparent;//$white;
$dropdownmenu-padding: $global-menu-padding;
$dropdownmenu-nested-margin: 0;
$dropdownmenu-submenu-padding: $dropdownmenu-padding;
$dropdownmenu-border: 1px solid $medium-gray;
$dropdown-menu-item-color-active: #333;//get-color(primary);
$dropdown-menu-item-background-active: transparent;

// 23. Menu
// --------

$menu-margin: 0;
$menu-nested-margin: $global-menu-nested-margin;
$menu-items-padding: $global-menu-padding;
$menu-simple-margin: 1rem;
$menu-item-color-active: #333;//$white;
$menu-item-background-active: transparent;//get-color(primary);
$menu-icon-spacing: 0.25rem;
$menu-state-back-compat: true;
$menu-centered-back-compat: true;
$menu-icons-back-compat: true;

// 53. Title Bar
// -------------

$titlebar-background: white; //$black;
$titlebar-color: #333; //$white;
$titlebar-padding: 0.5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: #333; //$white;
$titlebar-icon-color-hover: #333; //$medium-gray;
$titlebar-icon-spacing: 0.25rem;

// 55. Top Bar
// -----------

// $topbar-padding: 0.5rem;
$topbar-background: white; //$light-gray;
// $topbar-submenu-background: $topbar-background;
// $topbar-title-spacing: 0.5rem 1rem 0.5rem 0;
// $topbar-input-width: 200px;
// $topbar-unstack-breakpoint: medium;
