@font-face {
  font-family: 'Chaparral Pro Bold';
  src: font-url('ChaparralPro-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: font-url('MyriadPro-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Telegrafico';
  src: font-url('telegrafico.ttf') format('truetype');
}

h1 {
  color: #666;
  font-family: 'Chaparral Pro';
  font-size: 300%;
  margin: 2rem 0;
}
// to space .contact-prompt vertically as if on pages with h1
// really hackings => TODO: come up w/ a different solution for this
.h1-spacer {
  font-family: 'Chaparral Pro';
  font-size: 300%;
  margin: 2rem 0;
}
h2 {
  color: #555;
  font-size: 160%;
}
header h4, header h5 {
  font-family: 'Chaparral Pro';
  margin: .3rem 0;
}
header h4 {
  color: #444;
  font-size: 130%;
}
header h5 {
  font-size: 120%;
  font-weight: normal;
}

p, ul {
  font-size: 140%;
  line-height: 1.5;
}

mark.rh2 {
  background-color: inherit;
  color: #444;
  color: inherit;
  font-style: italic;
  white-space: nowrap;
}

aside p, aside ul { font-size: 115%; }
