@font-face {
  font-family: 'Archistico Bold';
  src: font-url('Archistico_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Archistico Simple';
  src: font-url('Archistico_Simple.ttf') format('truetype');
}
@font-face {
  font-family: 'Chaparral Pro Bold';
  src: font-url('ChaparralPro-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Telegrafico';
  src: font-url('telegrafico.ttf') format('truetype');
}

h1 {
  color: black;
  font-family: 'Archistico Bold';
  font-size: 300%;
}
h2 {
  color: #555;
  font-size: 150%;
}

header h4 {
  font-family: 'Chaparral Pro';
  font-size: 130%;
  font-weight: bold;
  margin: .4rem 0;
}
header h5 {
  font-family: 'Chaparral Pro';
  font-size: 120%;
  font-weight: normal;
  margin: .8rem 0;
}

p {
  font-size: 140%;
  line-height: 1.5;
}

mark.rh2 {
  background-color: inherit;
  color: #444;
  color: inherit;
  font-style: italic;
  white-space: nowrap;
}

aside p, aside li { font-size: 125%; }
