// .grow { transition: all .2s ease-in-out; }
// .grow:hover { transform: scale(1.1); }

.float-left { float: left; }
.float-right { float: right; }
.mr--1rem { margin-right: 1rem; }
.mr--2rem { margin-right: 2rem; }
.mt--3rem { margin-top: 3rem; }
.ml--2rem { margin-left: 2rem; }
