main {
  color: #222;
  display: grid;
  font-family: 'Architects Daughter', cursive;
  font-size: 200%;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
h1 { margin-bottom: 6rem; }
h2 { margin-bottom: 10rem; }
h2.stacked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}
span.tall { line-height: 2.5; }
