// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
// Foundation applies this silently in _global.scss (see dev't notes),
// but I'll have it here "re-declared" anyway, as a reminder

// * { border: 1px dotted black; }

body {
  color: #444;
  display: flex;
  flex-direction: column;
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 1.4rem;
  height: 100vh;
  line-height: 1.5;
}

aside,
.container-admin { font-size: 1.125rem; }

footer {
  background-color: #333;
  color: whitesmoke;
  font-family: 'Monteserrat', sans-serif;
  font-size: 1rem;
  padding: 5em 0;
}

main { margin-top: 62px; }

main {
  align-items: center;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.container { margin: 2rem auto 3rem auto; }

main .container {
  background-color: #dfdfdf; // indiv. portfolio: #4a, #15
  border-radius: 5px;
  padding: 1px 2rem;
}

main.pantheon.portfolios { background-color: #909090; }
main.portfolio { background-color: #6d6d6d; }

.container.portfolio { background-color: #292929; }

article { margin-bottom: 2rem; }

.xlarge-heading { display: none; }

span.tall { line-height: 2.5; }

aside {
  align-self: baseline;
  background-color: #e8e8e8;
  border-left: .5rem solid #d0d0d0;
  border-radius: 5px;
  margin-bottom: 3rem;
  padding: 1rem 1rem 2rem 1rem;
}

.griddle {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.flexrow { display: flex; }
.flexcol { display: flex; flex-direction: column; }
.justify-content--space-around { justify-content: space-around; }
.align-items--center { align-items: center; }

section.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5rem;
}

.portfolio-spacer {
  border: 5px solid #666;
  margin: 6em 4em 7em;
}

.in-article-left,
.in-article-right {
  display: inline;
  margin: .3rem auto 0 auto;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.griddle.admin-portfolio {
  grid-gap: 1rem;
}

.show-order { max-width: 90px; }

.actions { margin: 2rem 0; }

.under-construction {
  align-items: center;
  background-blend-mode: lighten;
  background-color: #cdcdcd;
  background-position: cover;
  border: 2px solid #888;
  border-radius: 5px;
  color: #333; //white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  max-width: 100%;
  padding: 2em;
  text-align: center;
}
.under-construction.kitchens {
  background-image: url('https://storage.googleapis.com/rhouse2-development-staging-static/background-kitchen3.jpg');
  background-position: center 60%;
}
.under-construction.bathrooms {
  background-image: url('https://storage.googleapis.com/rhouse2-development-staging-static/background-bathroom1.jpg');
  background-position: center 30%;
}
