body {
  color: #333;
  font-family: 'Monteserrat', sans-serif;
  line-height: 1.5;
}
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Telegrafico';
  text-align: center;
}
.header__responsive-logo {
  height: 100%;
  max-height: 160px;
  max-width: 512px;
  width: 100%;
}

li { margin-bottom: 1rem; }

li.roofing-supplier {
  align-items: center;
  display: flex;
  margin: 1.5rem 0;
}

main {
  font-size: 120%;
  margin: 0 auto;
  padding: 0 2rem;
}
span.tall { line-height: 2.5; }

article { margin: 0 auto; }
// article.text { max-width: 768px; }

blockquote { margin-bottom: 3rem; }

.griddle {
  display: grid;
  grid-gap: 2rem;
}

.galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: space-around;
}

.flexrow { display: flex; }
.justify-content--space-around { justify-content: space-around; }
.align-items--center { align-items: center; }
.push { margin-left: auto; }

section.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5rem;
}

figure { margin: 0; }
figure.in-article-right {
  display: inline;
  float: right;
  margin: .3rem 0 0 2rem;
}
figure.in-article-left {
  display: inline;
  float: left;
  margin: .3rem 2rem 0 0;
}

img.portfolio {
  height: auto;
  width: 100%;
}
