%p.contact-prompt
	%span.span-contact-us-prompt-phone
		%i.fas.fa-phone
		= link_to '608-445-6511', 'tel:608-445-6511'
	= link_to new_inquiry_path, class: 'contact-us-button' do
		%i.far.fa-paper-plane
		Contact us
