- if controller_name == 'portfolios' && action_name != 'index'
  - h1_selector = 'portfolio-h1'

.contact-prompt-heading
  - if local_assigns[:h1]
    %h1{ class: h1_selector }= local_assigns[:h1]
  - else
    .h1-spacer &nbsp;

  = render 'contact_prompt'
