%li{ class: current_view?(hail_damage_path) }
  = link_to_unless_current 'Hail damage', hail_damage_path do
    %span Hail damage

%li{ class: current_view?(ice_dams_path) }
  = link_to_unless_current 'Ice dams', ice_dams_path do
    %span Ice dams

%li{ class: current_view?(snow_removal_path) }
  = link_to_unless_current 'Snow removal', snow_removal_path do
    %span Snow removal

%li{ class: current_view?(bats_path) }
  = link_to_unless_current 'Bat removal', bats_path do
    %span Bat removal
