%article.testimonials
  = render 'contact_prompt_heading', { h1: 'Testimonials' }

  %figure.in-article-right.mt--3rem= image_tag gcs('homeimprovement.jpg')

  %h2 In Business since 2005

  %blockquote
    %p
      I am completely satisfied with the way everything was handled, and very
      satisfied with the product and workmanship.
    %cite ~ Greg Chapman, Madison, WI

  %blockquote
    %p Continue your fine workmanship and courteous service.
    %cite ~ Bruce Zaft, Madison, WI

  %blockquote
    %p
      We are so pleased with both the service and our brand new deck! R House 2
      restored our faith in contractors.
    %cite ~ Nick & Connie Hoagland, McFarland, WI

  %blockquote
    %p
      I have always been satisfied with the workmanship and prices. You are
      quick to fix a problem, and are the only company out there I trust.
    %cite ~ Nikki Meyers, Stoughton, WI

  %blockquote
    %p
      You guys are good! I'll recommend R House 2 to anyone who is looking for
      work done on their home.
    %cite ~ Norm Benendum, Madison, WI

  %blockquote
    %p
      My wife and I are very proud of our new deck. The service was exceptional.
    %cite ~ Dave Gullrap, Verona, WI

  %blockquote
    %p Very courteous and efficient work! Thank you.
    %cite ~ Suzy & Jay Smith, Jefferson, WI

  %blockquote
    %p
      If I come across anyone who is looking for good work done, I'll recommend
      you to them.
    %cite ~ Gerold Hoagua , Middleton, WI
