%article.testimonials
  = render 'contact_prompt_heading', { h1: 'Testimonials' }

  %figure.figure-article-right.mt--3rem= image_tag gcs('homeimprovement.jpg')

  %h2 In Business since 2005

  - @testimonials.each do |testimonial|
    %blockquote
      %p= testimonial.body
      %cite= testimonial.client_signature
